{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "actions": "./src/redux/actions"
        }
      }
    ]
  ]
}